@model IEnumerable<WebApplication4.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Diary</h1>
    <p>Youtube Link <a href="https://youtu.be/blVEC0ERdnE?feature=shared">kitten yumyum</a></p>
</div>

@*<h2>Students</h2>*@



<form method="post" action="/Home/DeleteSelected">
    <table class="table">
        <thead>
            <tr>
                <th></th> <!-- 체크박스 컬럼 추가 -->
                <th>No</th>
                <th>Title</th>
                <th>Date</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                    <tr>
                        <td><input type="checkbox" value="@student.No" name="selectedStudents" /></td>
                        @*<td>@student.Id</td>
                        <td>@student.Name</td>
                        <td>@student.Hp</td>*@

                        <td>@student.No</td>
                        <td>@student.Title</td>
                        <td>@student.Detail</td>
                    </tr>
            }
        </tbody>
    </table>
</form>

<div style="text-align:center;">
    <button type="button" class="btn btn-outline-primary" onclick="location.href='/Home/Create'">추가</button>
    <button type="button" class="btn btn-outline-primary" onclick="location.href='/Home/Update'">수정</button>
    <button type="button" class="btn btn-outline-primary" onclick="location.href='/'">목록</button>
    <button type="submit" class="btn btn-outline-danger">삭제</button>
</div>
    




@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@