@model SmartFactory_MinProject.Models.Codeboard

@{
	ViewData["Title"] = "Details";
}
<!-- highlight.js 스타일 및 스크립트 추가 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/dracula.min.css"> <!-- 다크 모드 스타일 -->
*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<!-- 스타일 추가 (코드 박스 내 다크 모드 스타일) -->
<style>

	.mode-toggle-button {
		position: absolute;
		top: 5px;
		right: 5px;
		background-color: black;
		color: white;
		padding: 5px 10px;
		cursor: pointer;
	}
</style>

<h1>Details</h1>

<div>
	<div style="float:right">
		<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Edit</a>
		<a onclick="history.back()" class="btn btn-outline-dark">Cancel</a>

	</div>
	<h4 class="float:left;">Codeboard</h4>
	<hr />
</div>

<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Date)
		</dt>
		<dd class="col-sm-10">
			@Model.Date.ToString("yyyy-MM-dd")
		</dd>
		<dt class="col-sm-2">
			Code Contents
		</dt>
		<dd class="col-sm-10">
			<!-- 코드박스를 표시하는 부분 -->
			<pre id="content">
				@Html.Raw(Model.Contents)
			</pre>
		</dd>
		<code id="" href="/css/dracula.css"></code>
		
	</dl>

</div>




<div>
	<form asp-action="AddComment" asp-route-id="@Model.Id" method="post">
		<div class="form-group"> <br />
			<textarea class="form-control" id="commentContent" name="Content" rows="3"></textarea>
		</div><br />
		<button type="submit" class="btn btn-outline-primary">Send</button>
	</form>
</div>

<!-- 댓글 목록 -->
<div>
	<br />
	<h4>Comment List</h4>
	@if (Model.Comments != null)
	{
				<ul>
			@foreach (var comment in Model.Comments)
			{
				<li>
					<strong>@comment.Date.ToString("yyyy-MM-dd")</strong> <br />
					@comment.Content
				</li>
			}
				</ul>
	}
	else
	{
				<p>댓글이 없습니다.</p>
	}
</div>

<script>


	// 코드 언어 자동 감지 설정
	document.addEventListener("DOMContentLoaded", function () {
		var contents = document.querySelectorAll("#content code");
		contents.forEach(function (block) {
			hljs.highlightBlock(block);
		});
	});

	// 다크/라이트 모드 토글 함수
	function toggleDarkMode() {
		var contents = $("code[id*='codeBlock']");
		contents.toggleClass("dark");
		contents.children().toggleClass("dark");
	}


</script>

<!-- 모드 전환 버튼 -->
<button class="mode-toggle-button" onclick="toggleDarkMode()">모드 전환</button>